<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fullcampground</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">        
		<link rel="stylesheet" href="/stylesheets/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    </head>
    <body>  
		<header class="header">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<%= error %>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>  
			<% } %>
			<% if(success && success.length > 0){ %>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<%= success %>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>  
			<% } %>

			<nav class="navbar navbar-expand-md navbar-dark sticky-top">
				<a class="navbar-brand mr-2" href="/">					
					<img src="https://res.cloudinary.com/norelleshi/image/upload/v1566964664/logo/fullcampground_2.png" alt="Logo" class="navbar__logo">
				</a>
				<div class="flex-grow-1">
					<div class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">	
						<form action="/campgrounds" method="GET" class="nav-link">                   
							<div class="input-group input-group-sm">
								<input type="text" name="search"  
										class="form-control rounded-left-sm font-weight-lighter" 
										placeholder="Search campground name, author, location, price, etc." 
										aria-label="Search campgrounds" 
										aria-describedby="button-addon">
								<div class="input-group-append">
									<button type="sumbit" class="btn btn-success btn-sm rounded-right-sm border-left-0" 
										 id="button-addon" title="Search campgrounds">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</nav>

			<div class="header__text-box">
				<h1 class="heading-primary">
					<p class="heading-primary--main">						
						<img src="https://res.cloudinary.com/norelleshi/image/upload/v1566964664/logo/fullcampground_2.png" alt="Logo" class="header__logo">
					</p>
					<p class="heading-primary--sub">
						The handy campground information exchange platform. 
						Login to share your campgrounds with people from all over the world!
					</p>
				</h1>

				<% if(currentUser) { %>
					<div class="heading-secondary">
						<div>
							<a href="/campgrounds/new" class="btn-up btn-up--white">
								<i class="fas fa-plus text-success"></i> Create
							</a>
							<a href="/users/<%= currentUser._id %>" class="btn-up btn-up--white">
								<i class="fas fa-portrait text-success"></i> Profile
							</a>
							<button class="btn-up btn-up--white" data-toggle="modal" data-target="#logoutModal">
								LOGOUT <i class="fas fa-sign-out-alt text-success"></i>
							</button>
						</div>
						<div>
							<a href="/campgrounds" class="btn-up btn-up--white btn-boom">View all campgrounds &nbsp;<i class="fas fa-angle-right text-success"></i></a>	
						</div>
					</div>	

					<!-- Logout modal START -->
					<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header py-1">
									<h5 class="modal-title text-light" id="logoutModalLabel">Are you sure?</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body text-center">
									<a href="/logout" class="btn-up btn-up--white">Logout <i class="fas fa-sign-out-alt text-success"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Logout modal END -->

				<% } else { %>
					<div class="row justify-content-center heading-secondary">
						<div class="col-md-12 text-center">
							<form class="form-signin" action="/" method="POST">
								<label for="inputUsername" class="sr-only">Username</label>
								<input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
								<label for="inputPassword" class="sr-only">Password</label>
								<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
								<button class="btn-up btn-up--green btn-block mt-2" type="submit">Login</button>
							</form>
							<div>
								<span>Need an account?</span>
								<a href="/register" class="text-light font-weight-normal"><u>Join Free</a>
							</div>
							<div>
								<a href="/campgrounds" class="btn-up btn-up--white btn-boom">View all campgrounds &nbsp;<i class="fas fa-angle-right text-success"></i></a>	
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</header>

  		<!-- Bootstrap and its dependencies -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    </body>
</html>
