<% include ./partials/header %>

<div class="landingHeader lead m-0 p-3 rounded-0">
    <div class="container lead">
        <h1 class="landingTitle">Welcome to YelpCamp</h1>
        <p>YelpCamp is a web app for camping lovers to exchange their campground information. Login to share your campgrounds with people from all over the world!</p>
        <hr class="my-4 border-white">
		
        <div class="addNewCampgroundButton rounded-pill">
            <a class="btn btn-success btn-lg rounded-pill font-weight-bold" 
                href="/campgrounds">View all campgrounds 
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
