<% include ./partials/header %>
<div id=main>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form action="/register" method="POST">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1>
                    <div class="form-group">
                        <!--<label for="inputUsername">Username</label>-->
                        <input type="text" id="inputUsername" class="form-control" 
                            name="username" placeholder="Username" required autofocus>
                    </div>
                    
                    <div class="form-group">
                        <!--<label for="inputPassword">Password</label>-->
                        <input type="password" id="inputPassword" class="form-control" 
                            name="password" placeholder="Password" required>
                    </div>
                    
                    <div class="form-group">        
                        <!--<label for="inputEmail">Email</label>-->
                        <input type="email" id="inputEmail" class="form-control" 
                            name="email" placeholder="Email" required>
                    </div>
                    
                    <div class="form-group">        
                        <label for="inputAvatar">Avatar</label>
                        <input type="file" id="inputAvatar" class="form-control-file" 
                            name="avatar" placeholder="avatar" accept="image/*" required>
                    </div>        
                    
                    <div class="form-group">
                        <!--<label for="inputAdmin">Admin Code</label>-->
                        <input type="password" id="inputAdmin" class="form-control rounded-sm" 
                            name="adminCode" placeholder="Admin Code">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-lg btn-success btn-block" type="submit">Join</button>
                    </div>
                </form>
                
                <p>*Admin Code is not required.</p>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>