<% include ./partials/header %>
<div id=main>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form class="form-signin" action="/register" method="POST" enctype="multipart/form-data">					
					<div class="text-center pb-3">
						<img src="https://res.cloudinary.com/norelleshi/image/upload/v1566964664/logo/fullcampground_2.png" alt="Logo" class="form-signin__logo">						
					</div>
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input type="text" id="inputUsername" class="form-control" 
                            name="username" placeholder="Username*" required autofocus>                   
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control rounded-0" 
                            name="password" placeholder="Password*" required>                    
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" class="form-control" 
                            name="email" placeholder="Email">                  
                        <label for="inputAvatar" class="m-0">Avatar:</label>
                        <input type="file" id="inputAvatar" class="form-control-file bg-transparent" 
                            name="avatar" placeholder="avatar:" accept="image/*">
                    <div class="input-group-sm my-2">
                        <label for="inputAdmin" class="sr-only">Admin Code</label>
                        <input type="password" id="inputAdmin" class="form-control rounded-sm" 
                            name="adminCode" placeholder="Admin Code (for administator)">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-md btn-success btn-block" type="submit">Sign Up</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>