<% include ../partials/header %>

    <header class="jumbotron mb-3 pt-5 pb-2">
        <div class="container lead">
            <h1 class="display-4">Explore for a day</h1>
            <p class="d-none d-md-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries!</p>
            <hr class="my-4" style="border-color: white;">
            <p>View our hand-picked campgrounds from all over the world! </p>
            <p class="new_camp">
                <a class="btn btn-success btn-lg" href="/campgrounds/new">Add New Campground »</a>
            </p>
        </div>
    </header>
<main class="container">    
    <div class="row text-center pb-4" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="card-title camp_name"><%= campground.name %></h5>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-info">More Info »</a>    
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</main>
<% include ../partials/footer %>