/************** Landing page setting *********/
$col-white: #fff;
$col-black: #000;
$col-green: #28a745;
$col-dark: #212529;
$col-black-transparent: rgba(0, 0, 0, 0.6);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
	height: 100%;	
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    font-size: 1.6rem;
	 color: #bfbfbf;
    line-height: 1.7;
    padding: 0;
  	background-color: #2e3035;
  	position: relative;
  	min-height: 100vh;
	
	box-sizing: border-box;
}

.header {
  	background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(http://i.imgur.com/SBEmFpv.jpg);
  	/* background-image: url(https://res.cloudinary.com/norelleshi/image/upload/v1555681561/tml5ovzrg9kf1ft8cwfj.jpg); */
  	height: 100%;
  	background-size: cover;
  	background-position: 20% 20%;
  	background-repeat: no-repeat;
  	color: white;
  	position: relative;
	min-height: 100vh;
	
	& .navbar {
		background-color: #2e3035;
		padding-top:0;
		padding-bottom: 0;
		box-shadow: 0 0 .2rem .1rem #000;
		z-index: 50;
		font-family: 'Montserrat', sans-serif;

		&__logo {
			padding-bottom: 0;
			padding-top: .4rem;
			padding-left: .4rem;
			padding-right: .4rem;
			border-radius: 0.12rem;
			 font-size: larger;
			outline: none;
			text-shadow: 0 .4rem .3rem rgba(0,0,0,0.1),
						 0 .2rem .4rem rgba(0,0,0,0.1),
						 0 .3rem .5rem rgba(0,0,0,0.1);
		}

		& .form-control {
			font-size: 1.1rem;	
			border-color: #2e3035;;
			background-color: #f2f2f2;
			color: black;

			&:focus {
				font-size: 1.1rem;
				border-color: #00e600;
				box-shadow: none;
				background-color: #f2f2f2;
				color: black;
			}
		}
	}
	
	&__text-box {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
}

.alert {
	margin-bottom: 0;
	text-align: center;
	border-radius:0;
	padding: .3rem;
	position:relative;
	top: 0;
	left: 0;
}

.heading-primary {
    backface-visibility: hidden;
    margin-bottom: 2rem;
	
	&--main {
		display: block;
		font-size: 3.9rem;
		font-weight: 500;
		letter-spacing: .5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		animation-name: moveInLeft;
		animation-duration: 1.3s;
		animation-timing-function: ease-out;
		white-space:nowrap;
		
		& .fab {
			font-size: 4.3rem;
		}
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 200;
		animation: moveInRight 1.3s ease-out;
		letter-spacing: 0.16rem;
		max-width: 70rem;
		margin: 0 auto;
	}
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    70% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(2rem);
    }

    70% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.heading-secondary {
	animation: moveInBottom .5s ease-out .4s;
    animation-fill-mode: backwards;
}
	
.btn-up {
	&:link, 
	&:visited {
		// background-color: $col-white;
		// color: #212529;
		font-weight: 600;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-decoration: none;
		padding: .6rem 1rem;
		display: inline-block;
		border-radius: .2rem;
		transition: all .2s;
		margin-top: 1.2rem;
		position: relative;
	}

	&:hover {
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
	}

	&:active {
		transform: translateY(-.1rem);
	}

	&--white {
		background-color: $col-white;
		color: $col-dark;
		
		&:hover {
			color: $col-dark;
		}

		&::after {
			background-color: $col-white;
		}
	}

	&--green {
		background-color: $col-green;
		color: $col-white;
		
		&:hover {
			color: $col-white;
		}

		&::after {
			background-color: $col-green;
		}
	}
}

button.btn-up {
	// background-color: $col-white;
	// color: #212529;
	font-weight: 600;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: .6rem 1rem;
	display: inline-block;
	border-radius: .2rem;
	transition: all .2s;
	margin-top: 1.2rem;
	position: relative;
	border: 0;
	outline: none;
}

.btn-boom {
	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		background-color: $col-white;
		border-radius: .2rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&:hover::after {
		transform: scaleX(1.2) scaleY(1.4);
		opacity: 0;
	}
}

.form-control {
	border-color: #2e3035;
	color: $col-white;
	background-color: $col-black-transparent;

	&:focus {
		border-color: #00e600;
		box-shadow: none;
		color: $col-white;
		background-color: $col-black-transparent;
	}
}

.form-signin {
	max-width: 30rem;
	margin: auto;
	width: 100%;

	& input[type="text"] {
		margin-bottom: -0.1rem;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		background-color: $col-black-transparent;

		position: relative;
		box-sizing: border-box;
		height: auto;
		// padding: .3rem;
		font-size: 1.6rem;

		&:focus {
			z-index: 2;
		}
	}

	& input[type="password"] {
		margin-bottom: -0.1rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: $col-black-transparent;

		position: relative;
		box-sizing: border-box;
		height: auto;
		// padding: .3rem;
		font-size: 1.6rem;

		&:focus {
			z-index: 2;
		}	
	}
}

.modal-content {
	background-color: rgba(89, 89, 89, 0.92);
	
	& .modal-title {
		font-size: 2rem;
	}
}