/************* Muiltple use *****************/
.darkBg {
  background-color: #2e3035;
}

.darkTransparentBg {
  background-color: rgba(105, 105, 105, 0.3);
}

.dialogBg {
	background-color: rgba(89, 89, 89, 0.92);
}

.grayText {
  color: #bfbfbf;
}

.pinkText {
  color: #ac3973;
}

.btnOutlineGreen {
    border-radius: 2px;
    border: 1.5px solid #28a745;
    font-weight: 600;
}

.contentFontSize {
  font-size: 1.1rem;
}


.form-control {
	border-color: gray;
}

.form-control:focus {
	border-color: #00e600;
	box-shadow: none;	
}

.btn:focus {
	box-shadow: 0 0 0 0.05rem;
}

input, textarea {
	background-color: rgba(0, 0, 0, 0.5)!important;
	color: white !important;	
}

.badge, .alert {
	font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, span {
	font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: gray;
}

.alert{
  margin-bottom: 0;
  text-align: center;
  border-radius:0;
}

.alertTop {
  position:relative;
  top: 0;
  left: 0;
}

.btnFontSizeChange {
	font-size: 1rem;
}

/* .noChangeLine {
	white-space:nowrap;
} */

/************** Landing page setting *********/
html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
  /*sets its minimum height to 100% of the viewport height (vh)*/
  position: relative;
  background-color: #2e3035;
  min-height: 100vh;
  color: #bfbfbf;
}

#main {
  padding-bottom: 4rem;
	font-family: 'Montserrat', sans-serif;
}

.headerBrand {
	/* padding-right: 7px;
    padding-left: 7px;
    padding-top: 12px; */
	/* margin-top: -1px; */
	text-decoration: none;
    background-color: #bfbfbf;
    /* border-bottom-right-radius: 0.12rem;
	border-bottom-left-radius: 0.12rem; */
	font-size: large;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
                 0px 2px 4px rgba(0,0,0,0.1),
                 0px 3px 5px rgba(0,0,0,0.1);
}

.searchForm {
	background-color: rgba(255, 255, 255, .8);
}

.searchFormAddOn {
	border: 1px solid gray;
}

.landingHeader {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(http://i.imgur.com/SBEmFpv.jpg);
  /* background-image: url(https://res.cloudinary.com/norelleshi/image/upload/v1555681561/tml5ovzrg9kf1ft8cwfj.jpg); */
  height: 100%;
  background-size: cover;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  color: white;
  position: relative;
	min-height: 100vh;
}

/* .BgOpacity {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  border-radius:0;
	min-height: 100vh;
} */

/* .landingTitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	color: #f8f8f8;
  	text-shadow: 0 4px 3px rgba(0,0,0,0.5),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);
}

.landingP {
	font-size: 1.15rem;
    font-weight: 300;
	font-family: 'Montserrat', sans-serif;
} */

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 40px;
}

.heading-primary-main {
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 10px;
	margin-bottom: 10px;
    animation-name: moveInLeft;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
	white-space:nowrap;
	text-shadow: 0 4px 3px rgba(0,0,0,0.5),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);
    /* 
    animation-delay: 3s;
    animation-iteration-count: 3; 
    */
}

.heading-primary-sub {
    display: block;
    font-size: 1.15rem;
    font-weight: 200;
    animation: moveInRight 1.3s ease-out;
	letter-spacing: 0.1rem;
}

.form-animated {
	animation: moveInBottom .5s ease-out .4s;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    70% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    70% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-up:link, .btn-up:visited {
	background-color: #fff;
    color: #212529;
	font-weight: 600;
	font-size: .9rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 20px;
    display: inline-block;
    border-radius: .2rem;
    transition: all .2s;
	margin-top: 12px;
	position: relative;
}

.btn-up:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

.btn-up:active {
    transform: translateY(-1px);
}

.btn-boom::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
	background-color: #fff;
    border-radius: .2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-boom:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.transSignin {
	background-color: rgba(0, 0, 0, 0.6)!important;
}

.landingHr {
    width: 250px;
    border-top: 4px solid #28a428;
    border-bottom: 0.9px solid rgba(0,0,0,0.2);
}

.form-signin {
  max-width: 330px;
  margin: auto;
  width: 100%;
  padding: 5px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* .trans-btn {
    background-color: #fff;
    color: #212529;
	font-weight: 600;
	font-size: .9rem;
} */