/************* Muiltple use *****************/
.darkBg {
  background-color: #2e3035;
}

.blackOpacityBg {
	background-color: rgba(0, 0, 0, .5);
}

.darkTransparentBg {
  background-color: rgba(105, 105, 105, 0.3);
}

.dialogBg {
	background-color: rgba(89, 89, 89, 0.92);
}

.grayText {
  color: #bfbfbf;
}

.pinkText {
  color: #ac3973;
}

.btnOutlineGreen {
    border-radius: 2px;
    border: 1.5px solid #28a745;
    font-weight: 600;
}

.contentFontSize {
  font-size: 1.1rem;
}


.form-control {
	border-color: gray;
}

.form-control:focus {
	border-color: #00e600;
	box-shadow: none;	
}

.btn:focus {
	box-shadow: 0 0 0 0.05rem;
}

input, textarea {
	background-color: rgba(0, 0, 0, 0.5)!important;
	color: white !important;	
}

.badge, .alert {
	font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, span {
	font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: gray;
}

.alert{
  margin-bottom: 0;
  text-align: center;
  border-radius:0;
}

.alertTop {
  position:relative;
  top: 0;
  left: 0;
}

.btnFontSizeChange {
	font-size: 1rem;
}

/*********** Primary element *******************/
html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
  /*sets its minimum height to 100% of the viewport height (vh)*/
  position: relative;
  background-color: #2e3035;
  min-height: 100vh;
  color: #bfbfbf;
}

.navbar {
	background-color: #2e3035;
  padding-top:0;
  padding-bottom: 0;
  box-shadow: 0 0 2px 1px #000;
  z-index: 50;
	font-family: 'Montserrat', sans-serif;
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), */
  /*            0 3px 1px 0 rgba(20,23,28,0.1);*/
  /*border-bottom: 1px solid #e6e6e6;*/
}

.navbar-brand .fab{
  font-size: larger;
  /* color:  #00cc66 !important; */
}

.headerBrand {
	padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    background-color: #bfbfbf;
    border-radius: 0.12rem;
}

/* .navbar-brand {
	background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: .25rem !important;
} */

.navbar-brand {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
                 0px 2px 4px rgba(0,0,0,0.1),
                 0px 3px 5px rgba(0,0,0,0.1);
}

#main {
  padding-bottom: 4rem;
	font-family: 'Montserrat', sans-serif;
}

footer {
  /*The footer is set to absolute, sticking to the bottom: 0 of the page-container it is within.*/
  position: absolute;
  bottom: 0;               
  width: 100%;
  height: 4rem;            /* Footer height */
  background-color: #2e3035;
  text-align: center;
	font-family: 'Montserrat', sans-serif;
}


/************** Index page setting *********/
.addNewCampgroundButton {
  display: inline-block;
	font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 1px 3px rgba(20,23,28,0.2), 
            0 2px 9px 0 rgba(20,23,28,0.6);
}

.searchBar {
	background-color: black;
}

.searchBarInput {
	background-color: black !important; 
	color: white !important;
	margin: -1px;
}

.searchBarInput:focus {
	border-color: #00e600 !important;
}

@media (min-width:992px){
  .card-columns{
    column-count: 4;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

@media (max-width:992px) and (min-width:768px) {
  .card-columns{
    column-count: 3;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

@media (max-width:768px){
  .card-columns{
    column-count: 2;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

.index-camp-card .card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: lighter;
  display: -webkit-box !important;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-camp-card .card {
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}

.index-camp-card .card:hover {
  /*-webkit-filter:drop-shadow(1px 1px 1px #333);*/
  box-shadow: 
    0 0 2px 2px rgba(20,25,30,0.1), 
    0 4px 2px 0 rgba(20,25,30,0.1);
  -webkit-filter:brightness(0.7);
  text-decoration: none;
}

.index-camp-card .card-body {
  padding-left: 4px;
  padding-right: 4px;
  background-color: #2e3035;
  opacity: 0.85;
}

.IndexCardBg {
  border: 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.5);
}


/*************** Login & Register setting ***************/
.form-signin {
  max-width: 330px;
  margin: auto;
  width: 100%;
  padding: 5px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/******************* Campground show page setting ****************/
#map {
    height: 340px;
    width: 100%;
}

.showPageCampName {
  font-family: 'Montserrat', sans-serif;
	font-weight: 500;
  color: #ac3973;
  font-size: 1.3rem;
}

.showPageImage {
  max-width: 100%;
    width: auto;
    max-height: 400px;
    vertical-align: middle;
    object-fit: cover;
}

.delete-form {
  display: inline;
}

.collapse-review-style {
  border-left-color: #28a745 !important;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.collapse-edit-style {
  border-left-color: #f0ad4e !important;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.starBtnSize {
	font-size: 2rem;
}

#addReviewPosition #starBtn1, #starBtn2, #starBtn3, #starBtn4, #starBtn5{
	outline: none;
}

/* .fa-star {
  color: #6c757d;
} */

.checked {
    color: orange !important;
}

#rateMessage {
	white-space: nowrap;
}

/* .clear-rating {
	white-space: nowrap;
	background-color: #f0fff0;
	border-radius: 0.25rem;
} */

/*.new_camp {*/
/*  border-radius: 0.25rem;*/
/*  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
/*                 0px 8px 13px rgba(0,0,0,0.1),*/
/*                 0px 18px 23px rgba(0,0,0,0.1);*/
/*}*/

/*.lightGray {*/
/*  background-color: #f5f5f5;*/
/*}*/

/*.searchBorder {*/
/*  border-bottom: 1px dotted #555 !important; */
/*  border-radius: 0 !important;*/
/*}*/

/**************Profile show page*******************/
.avatarCard {
  /* max-width: 120px; */
    object-fit: cover;
    position: relative;
    max-width: 100%;
    border: 3px solid #fff;
    vertical-align: middle;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    box-sizing: border-box;
    display: block;
}

.campgroundList a{
  text-decoration: none;
}

/* .avatarStyle:hover {
	box-shadow: 
    0 0 2px 2px rgba(20,25,30,0.1), 
    0 4px 2px 0 rgba(20,25,30,0.1);
	  -webkit-filter:brightness(0.7);
	  text-decoration: none;
} */

/* .avatarImg {
	display: inline-block; 
	position: relative;
} */

.avatarDelete {
	position : absolute;
	background-color: transparent;
	border: 0;
	font-size: 1.8rem;	   
	top : -1rem;
	right : -0.4rem;
	color: white;
	/* padding: 0.2rem 0.5rem;
	margin: -0.6rem -0.3rem -0.3rem auto; */
	opacity: 0.8 !important;
	text-shadow: 1px 4px 3px rgba(0,0,0,1),
				1px 8px 13px rgba(0,0,0,0.5),
				0 18px 23px rgba(0,0,0,0.3);
}

.avatarViewBlock {
	    position: absolute;
    background-color: transparent;
    border: 0;
    z-index: 5;
    top: auto;
    left: 0;
    right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: transparent;
    font-size: 0.8rem;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 80px;
    bottom: 5px;
    opacity: 3;
    transition: opacity .13s ease-out;
    display: block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
	transition: opacity .13s ease-out;
}

.avatarView {
	padding-top: 20px;
}

.avatarViewBlock:hover {
	color: white;
	background-color: rgba(105, 105, 105, 0.5);
	transition: opacity .13s ease-out;
	-webkit-font-smoothing: antialiased;
}

.avatarModalSize {
	position: relative;
	display: flex;
    z-index: 1050;
	width: -webkit-fill-available;
	margin: 0;
	padding: 0;
	border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	/* word-wrap: break-word; */
	/* box-sizing: border-box; */
	/* overflow-x: hidden;
    overflow-y: auto;
	outline: 0; */
	/* top: 0;
    left: 0; */
}
	
	