body {
  /*sets its minimum height to 100% of the viewport height (vh)*/
  position: relative;
  background-color: #2e3035;
  min-height: 100vh;
  color: #bfbfbf;
}

hr {
  background-color: #bfbfbf;
}

header {
  /*background: url("http://i.imgur.com/emvhOnb.jpg");*/
  background-image: url(https://res.cloudinary.com/norelleshi/image/upload/v1555681561/tml5ovzrg9kf1ft8cwfj.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  /*-webkit-filter:opacity(.95);*/
  border-radius:0;
}


.navbar {
  background-color: #2e3035 !important;
  padding-top:0;
  padding-bottom: 0;
  box-shadow: 0 0 7px 3px #000;
  z-index: 50;
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), */
  /*            0 3px 1px 0 rgba(20,23,28,0.1);*/
  /*border-bottom: 1px solid #e6e6e6;*/
}

.navbar-brand .fab{
  font-size: larger;
  color:  #00cc66 !important;
}

.navbar-brand {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
                 0px 2px 4px rgba(0,0,0,0.1),
                 0px 3px 5px rgba(0,0,0,0.1);
}

#main {
  padding-bottom: 4rem;
}

.alert{
  margin-bottom: 0;
  text-align: center;
  border-radius:0;
}

.alertTop {
  position:relative;
  top: 0;
  left: 0;
}

footer {
  /*The footer is set to absolute, sticking to the bottom: 0 of the page-container it is within.*/
  position: absolute;
  bottom: 0;               
  width: 100%;
  height: 4rem;            /* Footer height */
  background-color: #2e3035;
  text-align: center;
}

.addNew {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  box-shadow: 0 0 1px 3px rgba(20,23,28,0.2), 
            0 2px 9px 0 rgba(20,23,28,0.6);
}


.middleArea {
  background-color: #2e3035;
}

.transparentGrayBg {
  background-color: rgba(105, 105, 105, 0.3);
}

/*.myYC {*/
/*  display: inline;*/
/*}*/


/*.myYC a {*/
/*  color: #bfbfbf;*/
/*  text-decoration: none;*/
/*}*/

.grayText {
  color: #bfbfbf;
}

/*.intro_title {*/
/*  font-size: 30px;*/
  /*font-weight: 300;*/
/*  color: #bfbfbf;*/
/*}*/

/*.intro_title span {*/
/*  font-size: 33px;*/
/*  color: 	#9900cc;*/
/*  font-weight: bold;*/
/*}*/

@media (min-width:992px){
  .card-columns{
    column-count: 4;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

@media (max-width:992px) and (min-width:768px) {
  .card-columns{
    column-count: 3;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}


@media (max-width:768px){
  .card-columns{
    column-count: 2;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

.index-camp-card .card-title{
  font-family: 'Noto Serif TC', serif;
  /*color: #555;*/
  color: #29303B;
  font-size: large;
  font-weight: lighter;
  display: -webkit-box !important;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-camp-card .card {
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}

.index-camp-card .card:hover {
  /*-webkit-filter:drop-shadow(1px 1px 1px #333);*/
  box-shadow: 
    0 0 2px 2px rgba(20,25,30,0.1), 
    0 4px 2px 0 rgba(20,25,30,0.1);
  -webkit-filter:brightness(0.7);
  text-decoration: none;
}

.index-camp-card .card-body {
  padding-left: 4px;
  padding-right: 4px;
}

.showPageCampName {
  font-family: 'Noto Serif TC', serif;
  color: #ac3973;
  font-size: 1.2rem;
}

.showPageDescript {
  font-size: 1.1rem;
}


.form-signin {
  max-width: 330px;
  margin: auto;
  width: 100%;
  padding: 15px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.delete-form {
  display: inline;
}

.list-group {
  font-size: small;
}

.collapse-review-style {
  border-left-color: #28a745 !important;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.collapse-edit-style {
  border-left-color: #f0ad4e !important;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}


/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/*.miniNote {*/
/*  font-size: small;*/
/*  margin-bottom: 0;*/
/*}*/

.fa-star {
  /*color: #DCDCDC;*/
  color: #6c757d;
}

.checked {
    color: orange !important;
}

.btnOutline-green {
      border-radius: 2px;
      border: 1.5px solid #28a745;
      font-weight: 600;
}

.intro_title .fa-angle-right {
  color: green;
}

.new_camp {
  border-radius: 0.25rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.pinkText {
  color: #ac3973;
}

.lightGray {
  background-color: #f5f5f5;
}

.darkBg {
  background-color: #2e3035;
}

.cardBg {
  border: 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.5);
}

.cardBg .card-body {
  background-color: #2e3035;
  opacity: 0.85;
}

.indexCampName {
    color: white !important;
}

.searchBorder {
  border-bottom: 1px dotted #555 !important; 
  border-radius: 0 !important;
}

.inputTextBlack {
  color: black !important;
}

.darkTransparentBg {
  background-color: rgba(105, 105, 105, 0.3);
}
