/************* General setting *****************/
.darkBg {
  background-color: #2e3035;
}

.darkTransparentBg {
  background-color: rgba(105, 105, 105, 0.3);
}

.grayText {
  color: #bfbfbf;
}

.pinkText {
  color: #ac3973;
}

.btnOutline-green {
    border-radius: 2px;
    border: 1.5px solid #28a745;
    font-weight: 600;
}

.contentFontSize {
  font-size: 1.1rem;
}

input, textarea {
	background-color: rgba(0, 0, 0, 0.5)!important;
	color: white !important;	
}

.form-control {
	border-color: gray;
}

.form-control:focus {
	border-color: #00e600;
	box-shadow: none;	
}

/*********** Primary element *******************/
html {
	height: 100%;
}

body {
  /*sets its minimum height to 100% of the viewport height (vh)*/
  position: relative;
  background-color: #2e3035;
  min-height: 100vh;
  color: #bfbfbf;
}

.navbar {
	background-color: #2e3035;
  padding-top:0;
  padding-bottom: 0;
  box-shadow: 0 0 2px 1px #000;
  z-index: 50;
	font-family: 'Lato', sans-serif;
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), */
  /*            0 3px 1px 0 rgba(20,23,28,0.1);*/
  /*border-bottom: 1px solid #e6e6e6;*/
}

.navbar-brand .fab{
  font-size: larger;
  color:  #00cc66 !important;
}

.navbar-brand {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
                 0px 2px 4px rgba(0,0,0,0.1),
                 0px 3px 5px rgba(0,0,0,0.1);
}

#main {
  padding-bottom: 4rem;
	font-family: 'Lato', sans-serif;
}

.alert{
  margin-bottom: 0;
  text-align: center;
  border-radius:0;
}

.alertTop {
  position:relative;
  top: 0;
  left: 0;
}

hr {
  background-color: gray;
}

footer {
  /*The footer is set to absolute, sticking to the bottom: 0 of the page-container it is within.*/
  position: absolute;
  bottom: 0;               
  width: 100%;
  height: 4rem;            /* Footer height */
  background-color: #2e3035;
  text-align: center;
	font-family: 'Lato', sans-serif;
}

/************** Landing page setting *********/
.landingHeader {
  /*background: url("http://i.imgur.com/emvhOnb.jpg");*/
  background-image: url(https://res.cloudinary.com/norelleshi/image/upload/v1555681561/tml5ovzrg9kf1ft8cwfj.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  /*-webkit-filter:opacity(.95);*/
  border-radius:0;
	min-height: 90vh;
}

.landingTitle {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	color: #f8f8f8;
  	text-shadow: 0 4px 3px rgba(0,0,0,0.4),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);
}

.transSignin {
	background-color: rgba(0, 0, 0, 0.7)!important;
}

.landingHr {
    width: 250px;
    border-top: 4px solid #28a428;
    border-bottom: 0.9px solid rgba(0,0,0,0.2);
}

/************** Index page setting *********/
.addNewCampgroundButton {
  display: inline-block;
	font-family: 'Lato', sans-serif;
  box-shadow: 0 0 1px 3px rgba(20,23,28,0.2), 
            0 2px 9px 0 rgba(20,23,28,0.6);
}

.searchBar {
	background-color: black;
}

.searchBarInput {
	background-color: black !important; 
	color: white !important;
	margin: -1px;
}

.searchBarInput:focus {
	border-color: #00e600 !important;
}

@media (min-width:992px){
  .card-columns{
    column-count: 4;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

@media (max-width:992px) and (min-width:768px) {
  .card-columns{
    column-count: 3;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

@media (max-width:768px){
  .card-columns{
    column-count: 2;
    column-gap: 0.5rem;
  }
  .card-columns .card{
    display: inline-block;
  }
}

.index-camp-card .card-title{
  font-family: 'Noto Serif TC', serif;
  font-size: large;
  font-weight: lighter;
  display: -webkit-box !important;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-camp-card .card {
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}

.index-camp-card .card:hover {
  /*-webkit-filter:drop-shadow(1px 1px 1px #333);*/
  box-shadow: 
    0 0 2px 2px rgba(20,25,30,0.1), 
    0 4px 2px 0 rgba(20,25,30,0.1);
  -webkit-filter:brightness(0.7);
  text-decoration: none;
}

.index-camp-card .card-body {
  padding-left: 4px;
  padding-right: 4px;
  background-color: #2e3035;
  opacity: 0.85;
}

.IndexCardBg {
  border: 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.5);
}


/*************** Login & Register setting ***************/
.form-signin {
  max-width: 330px;
  margin: auto;
  width: 100%;
  padding: 5px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/******************* Campground show page setting ****************/
#map {
    height: 340px;
    width: 100%;
}

.showPageCampName {
  font-family: 'Noto Serif TC', serif;
  color: #ac3973;
  font-size: 1.2rem;
}

.showPageImage {
  max-width: 430px;
}

.delete-form {
  display: inline;
}

.collapse-review-style {
  border-left-color: #28a745 !important;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.collapse-edit-style {
  border-left-color: #f0ad4e !important;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.fa-star {
  color: #6c757d;
}

.checked {
    color: orange !important;
}

/*.new_camp {*/
/*  border-radius: 0.25rem;*/
/*  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
/*                 0px 8px 13px rgba(0,0,0,0.1),*/
/*                 0px 18px 23px rgba(0,0,0,0.1);*/
/*}*/

/*.lightGray {*/
/*  background-color: #f5f5f5;*/
/*}*/

/*.searchBorder {*/
/*  border-bottom: 1px dotted #555 !important; */
/*  border-radius: 0 !important;*/
/*}*/

/**************Profile show page*******************/
.avatarCard {
  max-width: 100px;
  /*max-height: 120px;*/
}

.campgroundList a{
  text-decoration: none;
}
