body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    font-size: 1.6rem;
	 color: #bfbfbf;
    line-height: 1.7;
    padding: 0;
  	background-color: #2e3035;
  	position: relative;
  	min-height: 100vh;
}

.heading-primary {
    backface-visibility: hidden;
    margin-bottom: 2rem;
	
	&--main {
		display: block;
		font-size: 3.9rem;
		font-weight: 500;
		letter-spacing: .5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		animation-name: moveInLeft;
		animation-duration: 1.3s;
		animation-timing-function: ease-out;
		white-space:nowrap;
		
		& .fab {
			font-size: 4.3rem;
		}
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 200;
		animation: moveInRight 1.3s ease-out;
		letter-spacing: 0.16rem;
		max-width: 70rem;
		margin: 0 auto;
	}
}



.heading-secondary {
	animation: moveInBottom .5s ease-out .4s;
    animation-fill-mode: backwards;
}